<% include ./partial/header %>
<table>
	<tr>
		<th></th>
		<th>Breakfast</th>
		<th>Lunch</th>
		<th>Dinner</th>
	</tr>
	<tr>
		<th>Monday</th>
		
		     
		     	<td><%=menu2.num1%></td>
		     	<td><%=menu2.num2%></td>
		     	<td><%=menu2.num3%></td>
		     	
		   
	</tr>
	<tr>
		<th>Tuesday</th>
		
		     
		     	<td><%=menu2.num4%></td>
		     	<td><%=menu2.num5%></td>
		     	<td><%=menu2.num6%></td>
		   

		 </tr>
    <tr>
    	<th>Wednesday</th>
		
		     
		     	<td><%=menu2.num7%></td>
		     	<td><%=menu2.num8%></td>
		     	<td><%=menu2.num9%></td>
	
    </tr>
    <tr>
    	<th>Thursday</th>
	
		     
		     	<td><%=menu2.num10%></td>
		     	<td><%=menu2.num11%></td>
		     	<td><%=menu2.num12%></td>
		     

	</tr>
	<tr>
		<th>Friday</th>
		
		     
		     	<td><%=menu2.num13%></td>
		     	<td><%=menu2.num14%></td>
		     	<td><%=menu2.num15%></td>
		  


    </tr>
    <tr>
    	<th>Saturday</th>
	
		     
		     	<td><%=menu2.num16%></td>
		     	<td><%=menu2.num17%></td>
		     	<td><%=menu2.num18%></td>
		  

    </tr>
    <tr>
    	<th>Sunday</th>
	
		     
		     	<td><%=menu2.num19%></td>
		     	<td><%=menu2.num20%></td>
		     	<td><%=menu2.num21%></td>
		    

   </tr>
</table>

<% include ./partial/footer %>