<% include ./partial/header %>

<table class="ui selectable inverted table">
	<tr>
		<th></th>
		<th>Breakfast</th>
		<th>Lunch</th>
		<th>Dinner</th>
	</tr>
	<tr>
		<th>Monday</th>
		
		     
		     	<td><%=menu.num1%></td>
		     	<td><%=menu.num2%></td>
		     	<td><%=menu.num3%></td>
		     	
		   
	</tr>
	<tr>
		<th>Tuesday</th>
		
		     
		     	<td><%=menu.num4%></td>
		     	<td><%=menu.num5%></td>
		     	<td><%=menu.num6%></td>
		   

		 </tr>
    <tr>
    	<th>Wednesday</th>
		
		     
		     	<td><%=menu.num7%></td>
		     	<td><%=menu.num8%></td>
		     	<td><%=menu.num9%></td>
	
    </tr>
    <tr>
    	<th>Thursday</th>
	
		     
		     	<td><%=menu.num10%></td>
		     	<td><%=menu.num11%></td>
		     	<td><%=menu.num12%></td>
		     

	</tr>
	<tr>
		<th>Friday</th>
		
		     
		     	<td><%=menu.num13%></td>
		     	<td><%=menu.num14%></td>
		     	<td><%=menu.num15%></td>
		  


    </tr>
    <tr>
    	<th>Saturday</th>
	
		     
		     	<td><%=menu.num16%></td>
		     	<td><%=menu.num17%></td>
		     	<td><%=menu.num18%></td>
		  

    </tr>
    <tr>
    	<th>Sunday</th>
	
		     
		     	<td><%=menu.num19%></td>
		     	<td><%=menu.num20%></td>
		     	<td><%=menu.num21%></td>
		    

   </tr>
</table>

<% include ./partial/footer %>